*{
	margin:0;
	padding:0;
}

body{
	width: 100%;
	height: 100vh;
	line-height:24px;
	font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
}

h2{
	
	font-size: 34px;
	padding: 24px;
}

p{
	color: #524e4d;
	display: block;
	padding: 25px;
}

.container{
	width: 70%;
	margin: auto;
	padding-bottom: 20px;

}

header{
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/bg.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.wrapper {
	height: 80px;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 2;

}

.sticky {
	position: fixed;
	background: #3B494C;
	height: 60px;
	padding-left: 10px;
	width: 100%;
	transition: all 0.3s ease-out;
    
}



/*--LOGO--*/

.logo {
	float: left;
	margin: 20px 150px;
}

.logo img{
	width: 50px;
	height: 40px;
}

/*--Main Navigation--*/
.nav-bar{
	float: right;
	margin: 20px 120px;
	font-size: 18px;
}

.nav-bar li {
	list-style: none;
	display: inline-block;
}

.nav-bar li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
}
.nav-bar li a:hover {
	color: #fbb829;
}


/*--------------*/


/*---Intro/Home page--*/

.intro-box {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-self{
	border: 2px;
	color: #fff;

}

.img-self img{
	border: 4px solid #fbb829;
	color: #fff;
	border-radius: 50%;
	width: 175px;
	height: 175px;
}

.intro{
	margin-top: 10px;
	padding: 15px 25px;
	font-size: 24px;
	
}

.intro h1{
	font-family: "Lato", sans-serif;
	color: #fff;
	font-weight: normal;
}

.intro span{
	color: #fbb829;
}

.sub-title{
	margin-top: 10px;
	font-size: 24px;
	color: #fff;
	border: 1px solid #fff;
	padding: 15px 40px;
	letter-spacing: 2.4px;
	text-transform: uppercase;
}

.social{
	font-size: 20px;

}

.social ul li{
	margin-top: 20px;
	list-style: none;
	display: inline-block;
	padding: 0px 4px;
	border: 1px solid #999;
	border-radius: 50%;
	
}

.social ul li a{
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 36px;
	margin: 4px;
	color: #fff;


}

.social ul li a:hover{
	color: #fbb829;
	transition: 0.5s ease-out;
	}

/*---Intro/Home page End--*/

/*---Section one about--*/

#about, #skills, #portfolio, #contact{
	padding: 120px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#about{
	background-color: #f9f9f9;
}

#skills{
	background-color: #fff;
}


#portfolio{
	background-color: #f9f9f9;
}

#contact{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../img/contact.jpg);
	background-color: #d5d5d5;
	background-position: center;
	background-size: cover;
	position: relative;
	background-attachment: fixed;
}

.about-me{
	margin-bottom: 60px;
}

.work-info{
	width: 33%;
    margin: 60px auto;
    float: left;
    	
}

.work-info .icons{
	font-size: 50px;
	color: #fbb829;

}

.job{
	margin: 10px;
	font-size: 24px;
}

p{
	font-size: 14px;
}

/*Skills Section*/


.skill-container{
	width: 55%;
    margin: 0 auto;
    padding: 10px;
}

.skill-container::after{
	content: " ";
	display: block;
	clear: both;
}
.skill-container h2{
	margin-bottom: 30px;
}

.my-skill h4{
	text-align: left;
	margin-bottom: 4px;
}

.my-skill{
	box-sizing: border-box;
	width: 100%;
	margin: 20px 0;
	text-transform: uppercase;
    margin: 0 0 0px;
    padding-left: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    float: left;
    width: 33%;
}
.my-skill p:nth-child(2){
	float: right;
    position: relative;
    top: -54px;
}

.pro-bar{
	margin-bottom: 15px;
	background: #999;
	padding: 0px;
	box-sizing: border-box;
	border-radius: 2px;

}

.level{
	background: #ffbf3b;
	width: 100%;
	height: 10px;
}




/*Portfolio Section*/



.project{
	width: 33%;
    float: left;
    border-radius: 10px;
    margin-top: 42px;
    overflow: hidden;

}

.project img{
	width: 90%;
    height: auto;
    border-radius: 10px;
}



/*Contact Section*/
.contact-container{
	
	margin-bottom: 25px;
	padding: 180px;

}

.contact-container h2{
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding-bottom: 25px;
	margin-bottom: 50px;

}
.form {
	margin-top: 50px;
	transition: all 4s ease-out;
}

.form-control {
	width: 600px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;

}

.input{
	height: 45px;

}

form .submit{
	background: #fbb829;
	border: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px
	height:50px;
	margin-top: 20px;
	border-radius: 20px 0 20px;
	padding: 10px;
	width: 220px;

}

form .submit:hover{
	background-color: #f44336;
	cursor: pointer;

}

/*Footer*/

footer{
	background-color: #191919;
	width: 100%
	height: 400px;
	padding: 40px;
	color: #fff;
}


.container-footer{
	background: #191919;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    color: #999;
}

@media only screen and (max-width: 875px) {
    
    .work-info {
    float: none;
    text-align: center;
    width: 100%;
    }
    .nav-bar{
    	display:none;
    }
    .my-skill{
    	width: 50%;
    }
}

@media only screen and (max-width: 549px) {

	.container{
		width: 100%;
	}

	.project{
		float:none;
		width: 100%;
		}
	
	.project img{
		width: 100%;
		border-radius: 0;
	}

	.my-skill{
		width: 100%;
		padding:0;
	}

